NODE_ENV=development
DATABASE_URL=...
JWT_ACCESS_SECRET=app_secret
JWT_ACCESS_EXPIRES_IN=10m
JWT_REFRESH_SECRET=another_app_secret
JWT_REFRESH_EXPIRES_IN=7d
RESEND_API_KEY=re_
APP_URL=http://localhost:3000
PORT=3000